<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
  </head>
  <body>
    <h1>Cursos</h1>
    <ul>
      <li>Análise e Desenvolvimento de Sistemas</li>
      <li>Polímeros</li>
      <li>Fabricação Mecânica</li>
      <li>Manutenção de Aeronaves</li>
      <li>Logística</li>
    </ul>
  </body>
</html>
