body{
    background-color: #ffffff;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: underline;
}

a:hover{
    color: #388e3c;
    cursor: pointer;
}

header{
    background-color: #ff9800;
    color: #ffffff;
    padding: 10px 20px;
    border: 3px solid black;
    text-align: center;
    border-radius: 13px;
}

nav {
    background-color: #c3664a;
    /*float: left;*/ /*elemento está flutuando na esquerda*/
    width: 100%;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0px 0px 5px 0px;
}

nav ul{
    list-style: none;
    margin-bottom: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    padding: 5px 10px;
}

nav ul li a:hover{
    color: aqua;
}

section{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 6px;
}

aside{
    background-color: #ff9800;
    color: #333333;
    padding: 20px;
    margin: 20px 0;
    float: right;
    width: 25%;
}

footer{
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    text-align: right;
}

ul li{
    list-style: circle;
    color: #4caf50;
}

ol li{
    color: #4caf50;
}

pre{
    background-color: #e0e0e0;
    color: #333333;
    padding: 5px 10px;
}

img{
    display: block;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    max-width: 100px;
    height: auto;
    text-align: center;
}

figure figcaption{
    text-align: center;
}

table{
    border: 1px solid black;
}

table tr{
    align-content: center;
}