@media (min-width: 416px) {
  .container-app {
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link-app {
    margin-left: 100px;
    width: 80%;
  }
}

@media (max-width: 415px) {
  .container-app {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }
}
