* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 416px) {
  .container-favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .namepage {
    font-size: 25px;
    font-weight: bold;
  }

  .filmes-container {
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}

@media (max-width: 415px) {
  .container-favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 220px;
  }

  .namepage {
    font-size: 25px;
    font-weight: bold;
  }

  .filmes-container {
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}
