<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>História</title>
  </head>
  <body>
    <h1>História da FATEC Sorocaba</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa vitae,
      officiis cum illo tempore repellendus aspernatur veniam exercitationem
      repellat itaque magnam quis, porro amet dolor? Vero ducimus atque illum a?
      Provident animi similique pariatur ut dolor aut maiores reprehenderit
      reiciendis! Dolor tenetur, nesciunt, ipsam modi molestias, tempore optio
      esse laboriosam animi reiciendis a obcaecati perspiciatis! Illo vel harum
      commodi inventore aperiam consectetur eveniet earum dolore in fuga unde
      voluptate odio qui hic laboriosam, architecto dolorem vero. Esse aliquid
      nesciunt ratione temporibus officiis quod ullam a cumque labore molestias.
      Perferendis beatae quo neque vitae vero non ipsum illo sint totam
      possimus.
    </p>
  </body>
</html>
